table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* 全テキストを中央寄せ */
}

th {
  background-color: #d0ebfd;
  border: 2px solid #292929;
}

td {
  border: 1px solid #333;
}

.rekw8:nth-child(8n+1) td {
  border-top: 2px solid #292929;
}