<!-- 再検索キーワードを入れる検索窓 -->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
		<link rel="stylesheet" href="../static/css/img_style.css">
        <title>再検索キーワード取得サイト</title>
        <style>body {padding: 10px;}</style>
    </head>


    <body>
        <h1> 再検索キーワードを取得　</h1>

		<p>
			ブラウザの検索結果画面ページ下部の「関連キーワード」を2階層分取得できます
		</p>
		<br>
		
		<form action="/result" method="post">
			<label for="article">
				キーワードを入力 ->
			</label>
			<input type="text" name="article">
			<p></p>
			<button type="submit">送信</button>
		</form>
		<br>
		<br>

		<h3>
			再検索キーワードとは
		</h3>
		<p>
			Googleの検索結果画面ページ下部の「関連キーワード」を指します。
			<img src={{s3_img_url}} class="image_50">
			<br>
			ユーザーの中には検索窓からキーワードを検索して、表示された検索結果画面からサイトへ訪問した後に、
			<ul>
				<li type="disc">その記事では検索意図を満足できなかった</li>
				<li type="disc">記事を読むにつれて、別のことに興味・疑問を持ったが、その記事では解決できなかった</li>
			</ul>
			<br>
			などの理由から別のキーワードで再検索し直すことがあります。
			<br>
			その再検索し直すときのキーワードを「再検索キーワード（＝関連キーワード）」と呼びます。
		</p>
	</body>
</html>


